.section6 {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(tab){
        align-items: flex-start;
    }

    &__partners {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin-top: 2rem;
        @include respond( tab-big ) {
            grid-template-columns: 1fr;
    }

        & > div {
            display: flex;
            flex-direction: column;
            align-items: center;

            & > p {
                margin-top: 1rem;
                text-align: center;
                @include respond(tab){
                    text-align: start;
                }
            }
        }
    }
}