.btn {
    border-width: 3px;
    border-style: solid;
    text-transform: uppercase;
    font-weight: 700;
    transition: all .25s;
    font-family: $f-primary;

    &:hover {
        cursor: pointer;
    }

    &__yellow{
        background-color: $c-yellow;
        border-color: $c-yellow;
    }

    &__white {
        background-color: $c-white;
        border-color: $c-white;
    }

    &__medium {
        padding: .5rem 1rem;
        font-size: 1.5rem;
    }

    //Hover variations
    &__hover {
        
        &_border-c-black {
            &:hover {
                border-color: $c-black;
            }    
        }

        &_bg-c-transparent {
            &:hover{
                background-color: transparent;
            }
        }

        &_border-c-white {
            &:hover {
                border-color: $c-white;
            }
        }

        &_text-c-white{
            &:hover {
                color: $c-white;
            }
        }


    }

    
}


